@font-face {
  font-family: "pacifico";
  src: url("/assets/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "Fredoka";
  src: url("./assets/Fredoka-VariableFont_wdth\,wght.ttf");
}

body {
  background-color: #f5b1c2;
  font-family: "Fredoka";
}

$main-color: #c22d13;

header {
  @extend .center-all;
  justify-content: space-between !important;
  padding: 0px 64px;

  nav {
    display: flex;
    align-items: center;
  }
}

a {
  color: white;
  text-decoration: none;
  margin-left: 32px;
  &:hover {
    color: $main-color;
  }
}

.button {
  background-color: white;
  border: unset;
  height: 48px;
  padding: 0px 16px;
  min-width: 100px;
  border-radius: 32px;
  @extend .center-all;
  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

.button-main {
  @extend .button;
  background-color: $main-color;
  color: white !important;
}

h1 {
  color: $main-color;
  font-family: "pacifico";
  text-align: center;
}

.row {
  display: flex;
  gap: 16px;
}

.main-text {
  color: white;
  left: 64px;
  top: 20vh;
  position: absolute;
  font-size: 40px;
  text-transform: uppercase;

  span {
    color: $main-color;
  }
}

@mixin rightCorner() {
  position: absolute;
  bottom: 0;
  right: 20vw;
}

@mixin circle($size, $bgColor) {
  width: $size;
  height: $size;
  background-color: $bgColor;
  border-radius: 50%;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gbi {
  @include rightCorner();
  width: 40vw;
}

.circle {
  @include circle(40vw, #f59eb4);
  @include rightCorner();
}
